/*******************************/
/****** Estilos generales ******/
/*******************************/
body {
    color: black;
    background: #ffffff;
    font-family: 'open sans', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: blue;
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: rebeccapurple;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: red;
    outline: none;
    text-decoration: none;
}

.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: red;
    background: white;
    border: 2px solid white;
    border-radius: 5px;
    transition: .5s;
}

.btn.custom-btn:hover {
    color: black;
    background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: black;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: blue;
}

.txtanimado h1 [class^="flaticon-"]:before,
.txtanimado h1 [class*=" flaticon-"]:before,
.txtanimado h1 [class^="flaticon-"]:after,
.txtanimado h1 [class*=" flaticon-"]:after {
    font-size: 0.8em; /* Cambiar el tamaño de la letra según sea necesario */
    margin-left: 0;
}


