.footer {
    text-align: center; /* Alinea el contenido del footer al centro */
    margin-top: 100px;
    background: black;
    width: 100%; /* Cubre todo el ancho disponible */
    padding: 20px; /* Espacio interno del footer */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.socials-icons {
    display: flex; /* Usa flexbox para el diseño */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    flex-wrap: wrap; /* Envuelve los elementos en varias líneas si es necesario */
}

.profile-container {
    margin-left: auto; /* Mueve el contenedor de la foto de perfil a la derecha */
}

.profile-picture {
    width: 50px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 50px; /* Ajusta la altura de la imagen según sea necesario */
    border-radius: 50%; /* Aplica bordes redondeados para que sea una imagen circular */
}

.social-links a {
    margin-right: 10px; /* Espacio entre los íconos de redes sociales */
}

.copyright {
    text-align: center; /* Alinea el texto al centro */
    margin-top: 20px; /* Espacio entre el contenido y el copyright */
}
.socials-icons i:hover a  {
    transform: rotate3d(0, 0, 1, 90deg);
}

@media (max-width: 300px) {
    .footer {
        background-image: url('img/EumlWEB-lmgur.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 300px;
        display: flex; 
        align-items: center; /* Alineamos verticalmente los elementos en el centro */
    }

    .socials-icons {
    padding: 0px;
    width: 60%;
    }

    .socials-icons a {
        font-size: 15px;

    }

}
